[Desktop Entry]
Name=Antigravity
Exec={{ .chezmoi.homeDir }}/Apps/Antigravity/Antigravity.AppImage --ozone-platform-hint=auto --enable-features=WaylandWindowDecorations
Icon={{ .chezmoi.homeDir }}/Apps/Antigravity/Google-Antigravity-Icon-White.png
Terminal=false
Type=Application
Categories=Development;
Comment=Google Antigravity Desktop App
MimeType=x-scheme-handler/antigravity;
